body{
    background-color: rgb(80, 85, 215);
}
.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.white{
    color: white;
}

li{
    list-style-type: none;
}

ul{
    text-align: center;
}