*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(110deg, #ac6cff 60%, #6b2be2 60%);
    height: 100vh;
}
.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.white{
    color: white;
}

ul{
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}